nav {
  width: 100vw;
  background-color: rgb(106, 146, 133);
}

.navbar {
  max-width: 800px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-first-comp ul li {
  display: inline-block;
  text-decoration: none;
  background-color: aqua;
  margin: 10px;
}

.nav-second-comp button {
  margin: 10px;
}
